<mat-card class="add-event-card">
  <mat-card-title>
    Add new one
    </mat-card-title>
  <mat-card-content>
      <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Base information</ng-template>
            <mat-form-field style="width: 100%">
              <input matInput placeholder="Name" formControlName="Name" required>
            </mat-form-field>
            <mat-form-field style="width: 100%">
              <textarea matInput placeholder="Description" formControlName="Description" required></textarea>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Where</ng-template>
            <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="onChooseLocation($event)">
              <agm-marker [latitude]="latChoosen" [longitude]="lngChoosen"></agm-marker>
            </agm-map>
            <mat-form-field style="width: 100%">
              <input matInput placeholder="Location description" formControlName="LocationDescription" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Tags</ng-template>
          <mat-form-field style="width: 100%;">
            <mat-chip-list #chipList>
              <mat-chip
                *ngFor="let fruit of Tags"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(fruit)">
                {{fruit}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="Add some tags that will help find your event"
                #tagInput
                [formControl]="tagCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)"
              />
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let fruit of filteredTags | async" [value]="fruit">
                {{ fruit }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card-content>
  </mat-card>
