

<mat-card style="width: 450px; margin-left: auto; margin-right: auto"><p style="color: rgb(15, 13, 153)">Login with email or social account</p>

    <div style="margin:0 auto">
     <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <form [formGroup]="loginForm">
            <div class="form-group">
              <p>Email address:</p>
              <input type="email" formControlName="email" class="form-control">
            </div>
            <div class="form-group">
                <p>Password:</p>
              <input type="password" class="form-control" formControlName="password">
              <label class="error">{{errorMessage}}</label>
            </div>
            <p><button mat-raised-button color="primary" (click)="login()">Login</button>        
            </p>
            </form>
        </div>
      </div>
    </div>
    </div>
    <p></p>
      <div style="width: 350px; margin-top: 80px; margin-left: 25px;"><img mat-card-image src= assets\loginfb.png (click)="login()" style="cursor: pointer" >
      <img mat-card-image src= assets\logingoogle.png (click)="login()" style="cursor: pointer" ></div>
      
      <p>No account yet? <a routerLink="/reg">Create an account</a></p>
    </mat-card>